@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: #159957;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #155799, #159957);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #155799, #159957);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #2193b0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    color: #333;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    opacity: 0.8;
}

.primary-button {
    background-color: #007bff;
    color: white;
}

.danger-button {
    background-color: #ff4d4d;
    color: white;
}

.success-button {
    background-color: #28a745;
    color: white;
}

.todo-item {
    padding: 15px;
    margin: 10px 0;
    background-color: #fff;
    border-left: 5px solid #007bff;
    box-shadow: 0px 2px 4px rgba(26, 111, 223, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;
    align-items: center; */
}

.todo-item.completed {
    text-decoration: line-through;
    opacity: 0.6;
}


.taskForm select {
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 3px;
    border: 1px solid #eb6a6a;
    border-radius: 4px;
    width: 31rem;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        margin: 20px auto;
    }
}