@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto';
}

.taskForm select
 {
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 1px solid #eb6a6a;
    border-radius: 4px;
    width: 30rem;
}